
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
}

.navbar {
  align-items: center;
  width: 100%;
  padding-left: 35px;
  padding-right: 25px;
  padding-top: 25px; padding-bottom: 25px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: rgba(255, 255, 255);

}


.main-nav {
  list-style-type: none;
  display: none;
}



.nav-links{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #0000FF;
}

.nav-links,
.logo{
  text-decoration: none;
  color: #0000FF;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #0000FF;
}

.navbar-toggle {
    position: absolute;
    top: 45px;
    right: 50px;
    cursor: pointer;
    font-size: 24px;
}

.active {
  display: block;
}

.name{
  display: inline-block;
  cursor: pointer;
  font-size: 35px;
}

@media screen and (min-width: 350px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        padding-left: 45px;
        padding-right: 20px;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;

    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: #0000FF;
    }
}
